html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
.header {
    display: flex;
    margin: 20px;
    padding: 5px;
    border: 1px solid white;
    justify-content: center;

}
h1{
    color: #4bdc5a;
    text-align: center;
    padding: 10px;
}

.content {
    margin: 0 20px;
    padding: 20px;
    border: 1px solid white;
    overflow: scroll;
}
.list{
    display: flex;
    border: 1px solid white;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}
.film{
    width: 150px;
    margin: 10px 0;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 150px;
    border-radius: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 10px;
}
.descriptionFilm{
    display: flex;
    padding: 10px;
    border: 2px solid #4bdc5a;
    border-radius: 10px;
}
.titre{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    flex: 2;
    padding: 10px;
}
.date{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    flex: 1;
    text-align: right;
    padding: 10px;
}
.titreDate{
    display: flex;
    column-gap: 10px;
}
.titreOriginal{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
}
.slogan{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    padding: 10px;
}
.resume{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}
.affiche{
    width: 170px;
    height: 250px;
    align-self: center;
}
.lesActeurs{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #4bdc5a;
    border-radius: 10px;
    width: 100%;
    gap: 10px;
}
.acteur{
    display: flex;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 10px;
}

.avatar{
    width: 75px;
    border-radius: 5px;
}
.infoActeur{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.nomActeur{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.role{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.descriptionActeur{
    display: flex;
    padding: 10px;
    border: 2px solid #4bdc5a;
    border-radius: 10px;
    flex: 1;

}
.photo{
    width: 150px;
    height: 200px;
    align-self: center;
}

.nom{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.lieu{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.dateActeur{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.dateNais{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    flex: 1;
}
.dateMort{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    padding: 5px;
    flex: 1;
}
.bio{
    border: 2px solid #8f8e8e;
    border-radius: 10px;
    padding: 10px;
}
.footer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid white;
}
.footer > p{
    color: #4bdc5a;
    text-align: center;
    align-self: center;
    padding: 5px;
}
.footer > a{
    color: #4bdc5a;
    text-align: center;
    align-self: center;
    padding: 5px;
    margin-bottom: 15px;
}
.footer > a:hover{
    color: red;
}